.mainHerbalTeawithMilk{
    background: url(../assest/HerbalTeawithmilkbanner01.jpg);
    background-size: cover;
    font-family: serif;
    background-repeat: no-repeat;
    padding: 50px;
}

.HerbalTeaWithContainer{
    padding-top: 30px;
}

.HerbalWithColor{
    color: green !important;
    font-weight: 600;
}